body.active_admin.leaderboard {

  .panel > h3 {
    margin-bottom: 0;
  }

  .panel_contents {
    padding: 0;
  }

  .panel_contents table {
    margin: 0;
    border-bottom: 0;
  }

  .panel_contents table thead {
    display: none;
  }

}
